@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

nav{
    display: flex;
    align-items: center;
    padding: 24px 60px;
}
nav ul{
    align-items: center;
}
.head_parent{
    padding: 12px 60px;
}
.div_child{
    padding: 16px 30px;
}
